---
import Layout from "../layouts/Layout.astro";
import ChartsDemoSection from "../components/ChartsDemoSection.jsx";
import ChartsDemoSection2 from "../components/ChartsDemoSection2.jsx";
import ChartsDemoSection3 from "../components/ChartsDemoSection3.jsx";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Test Charts">
  <div class="">
    <ChartsDemoSection client:visible />
    <ChartsDemoSection2 client:visible />
    <ChartsDemoSection3 client:visible />
  </div>
</Layout>
